<form>
	<div class="box">
        <div class="col-lg-12 center">
           	<hr>
            <h2 class="intro-text text-center">
           		<strong>RSVP</strong>
            </h2>
            <hr>
       		<h1 class="brand-name text-center"> <strong><small>Guests:</small></strong></h1>
       		<p class="text-center"><small class="italic">
       			Please indicate all your preferances below. Click on the icon to change your option.
       			<br>
       			***NOTE*** <br>
       			You will not be able to change your option after the 28th of January 2018
       		</small></p>
       		<div class="row" *ngFor='let guest of userInfo.guests; trackBy: index;'>

       			<div class="col-md-12">
       				<h3 class="intro-text text-center"><strong>
       				{{guest.name}} {{guest.surname}}
       				</strong></h3>
       				<hr>
       			</div>
       			<div class="col-md-4">
       				<h2 class="text-center">
       					<a><span class="glyphicon glyphicon-ok" *ngIf="guest.rsvp && !(guest.rsvp ==='notYet')" (click)="setGuestForModal(guest)" data-toggle="modal" data-target="#rsvpModal"></span></a>
       					<a><span class="glyphicon glyphicon-remove" *ngIf="!guest.rsvp &&
       					!(guest.rsvp === 'notYet')" (click)="setGuestForModal(guest)" data-toggle="modal" data-target="#rsvpModal"></span></a>
       					<a><span class="glyphicon glyphicon-question-sign" *ngIf="guest.rsvp === 'notYet'" data-toggle="modal" (click)="setGuestForModal(guest)" data-target="#rsvpModal"></span></a>
       				</h2>
       				<h4 class="intro-text text-center" >
       						Attending <br>
       						<span *ngIf="guest.rsvp && !(guest.rsvp ==='notYet')" >Indicated: yes</span>
       						<span *ngIf="!guest.rsvp && !(guest.rsvp === 'notYet')" >Indicated: no</span>
       						<span *ngIf="guest.rsvp === 'notYet'"> Not yest indicated </span>
       				</h4>
       			</div>
       			<div class="col-md-4">
       				<h2 class="text-center">
	       				<a><span class="glyphicon glyphicon-tent" *ngIf="guest.accomodationOption === 'CAMP'" data-toggle="modal" data-target="#accomodationModal" (click)="setGuestForModal(guest)"> </span></a>
	       				<a><span class="glyphicon glyphicon-tent" *ngIf="guest.accomodationOption === 'CARAVAN'" data-toggle="modal" data-target="#accomodationModal" (click)="setGuestForModal(guest)"> </span></a>
	       				<a><span class="glyphicon glyphicon-home" *ngIf="guest.accomodationOption === 'BED'" data-toggle="modal" data-target="#accomodationModal" (click)="setGuestForModal(guest)"> </span></a>
	       				<a><span class="glyphicon glyphicon-bed" *ngIf="guest.accomodationOption === 'OWN'" data-toggle="modal" data-target="#accomodationModal" (click)="setGuestForModal(guest)"> </span></a>
	       				<a><span class="glyphicon glyphicon-question-sign" *ngIf="guest.accomodationOption === 'notYet'" data-toggle="modal" data-target="#accomodationModal" (click)="setGuestForModal(guest)"></span></a>
       				</h2>
       				<h4 class="intro-text text-center" >
       						Accomodation <br>
       						<span *ngIf="guest.accomodationOption === 'CAMP'">Indicated: Camping</span>
       						<span *ngIf="guest.accomodationOption === 'CARAVAN'">Indicated: Caravaning</span>
       						<span *ngIf="guest.accomodationOption === 'BED'">Indicated: Shared rooms</span>
       						<span *ngIf="guest.accomodationOption === 'OWN'">Indicated: Own Accomodation</span>
       						<span *ngIf="guest.accomodationOption === 'notYet'">Not yet indicated</span>
       				</h4>
       			</div>
       			<div class="col-md-4">
       				<h2 class="text-center">
	       				<a><span class="glyphicon glyphicon-leaf" *ngIf="guest.dietryPref === 'VEG'" data-toggle="modal" data-target="#dietryModal" (click)="setGuestForModal(guest)"> </span></a>
	       				<a><span class="glyphicon glyphicon-cutlery" *ngIf="guest.dietryPref === 'NONE'" data-toggle="modal" data-target="#dietryModal" (click)="setGuestForModal(guest)"> </span></a>
	       				<a><span class="glyphicon glyphicon-question-sign" *ngIf="guest.dietryPref === 'notYet'" data-toggle="modal" data-target="#dietryModal" (click)="setGuestForModal(guest)"></span></a>
       				</h2>
       				<h4 class="intro-text text-center" >
       						Dietry preferance <br>
       						<span *ngIf="guest.dietryPref === 'VEG'">Indicated: Vegiterian</span>
       						<span *ngIf="guest.dietryPref === 'NONE'">Indicated: None</span>
       						<span *ngIf="guest.dietryPref === 'notYet'">Not yet indicated</span>
       				</h4>
       			</div>
       		</div>
       		<div class="text-center">
	       		<h1 class="brand-name text-center"> <strong><small>Childern:</small></strong></h1>
	       		<p class="text-center"><small class="italic">
	       			You are more than welcome to bring along your childern, please click on the add button below and add all your childeren that will be attending the wedding :-)
	       			<br>
	       			***NOTE*** <br>
	       			You will not be able add any childern after the 28th of January 2018
	       		</small></p>
	       		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#kidsModal" ><span class="glyphicon glyphicon-plus"></span>  Add Child</button>
	       	</div>
	       	<br>
	       	<div class="col-md-12" *ngFor='let child of userInfo.kids; trackBy: index;'>
	       		<h3 class="intro-text text-center"><strong>
       				{{child.name}} {{child.surname}}
       				<a><span class="glyphicon glyphicon-pencil" (click)="setChildForModal(child)" data-toggle="modal" data-target="#editChildModal"></span></a>
       				<a><span class="glyphicon glyphicon-remove" (click)="setChildForModal(child)" data-toggle="modal" data-target="#removeChildModal"></span></a>
       			</strong></h3>
       			<hr>
	       		<div>
		       		<h4 class="intro-text text-center" >
		       		 	age: {{child.age}}
		       		</h4>
		       		<h4 class="intro-text text-center" >
		       		 	gender: {{child.gender}}
		       		</h4>
	       		</div>
	       	</div>
	       	<div class="text-center">
	       		<h1 class="brand-name text-center"> <strong><small>Request a Song:</small></strong></h1>
	       		<p class="text-center"><small class="italic">
	       			It is going to be a big CELEBRATION and thus we will give you the honor to request the songs you love - the song list will be handed to the DJ and will be played as we dance the night away
	       		</small></p>
	       		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#songRequestModal" ><span class="glyphicon glyphicon-plus"></span> Add a song</button>
	       		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#songViewModal" ><span class="glyphicon glyphicon-music"></span> View all requested songs</button>
	       	</div>
        </div>
    </div>



</form>

<!-- RSVP Modal  -->
<div id="rsvpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">RSVP</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text">Choose your RSVP option below</p>

        <div class="dropdown text-center">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    RSVP Option
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-middle" aria-labelledby="rsvpDropDown">
		    <li  (click)="rsvpOptionChosen(option)" *ngFor='let option of rsvpOptions; trackBy: index;'><a >{{option}}</a></li>
		  </ul>
		</div>
		<p class="text-center"><small class="italic">
			RSVP for {{modalGuest.name}} {{modalGuest.surname}}
		</small></p>
		<p class="text-center"><small> Current option:
			<span *ngIf="modalGuest.rsvp && !(modalGuest.rsvp ==='notYet')" >Attending</span>
       		<span *ngIf="!modalGuest.rsvp && !(modalGuest.rsvp === 'notYet')" >Not Attending</span>
       		<span *ngIf="modalGuest.rsvp === 'notYet'">Not yet indicated</span>
		</small></p>
		<h2 class="text-center">
       		<span class="glyphicon glyphicon-ok" *ngIf="modalGuest.rsvp && !(modalGuest.rsvp ==='notYet')"></span>
       		<span class="glyphicon glyphicon-remove" *ngIf="!modalGuest.rsvp && !(modalGuest.rsvp === 'notYet')"></span>
       		<span class="glyphicon glyphicon-question-sign" *ngIf="modalGuest.rsvp === 'notYet'"></span>
       	</h2>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- ACCOMODATION Modal  -->
<div id="accomodationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Accomodation</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text">Choose your accomodation option below</p>
        <form>
        <div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    accomodation Option
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-middle" aria-labelledby="rsvpDropDown">
		    <li  (click)="accomodationOptionChosen(option)" *ngFor='let option of accomodationOptions; trackBy: index;'><a >{{option}}</a></li>
		  </ul>
		</div>
		<p class="text-center"><small class="italic">
			Accomodation option for {{modalGuest.name}} {{modalGuest.surname}}
		</small></p>
		<p class="text-center"><small> Current option:
			<span *ngIf="modalGuest.accomodationOption === 'CAMP'">Camping</span>
       		<span *ngIf="modalGuest.accomodationOption === 'CARAVAN'">Caravaning</span>
       		<span *ngIf="modalGuest.accomodationOption === 'BED'">Shared rooms</span>
       		<span *ngIf="modalGuest.accomodationOption === 'OWN'">Own Accomodation</span>
       		<span *ngIf="modalGuest.accomodationOption === 'notYet'">Not yet indicated</span>
		</small></p>
		<h2 class="text-center">
	       	<span class="glyphicon glyphicon-tent" *ngIf="modalGuest.accomodationOption === 'CAMP'"> </span>
	       	<span class="glyphicon glyphicon-tent" *ngIf="modalGuest.accomodationOption === 'CARAVAN'"> </span>
	       	<span class="glyphicon glyphicon-home" *ngIf="modalGuest.accomodationOption === 'BED'"> </span>
	       	<span class="glyphicon glyphicon-bed" *ngIf="modalGuest.accomodationOption === 'OWN'" > </span>
	       	<span class="glyphicon glyphicon-question-sign" *ngIf="modalGuest.accomodationOption === 'notYet'"></span>
       	</h2>
       	<p class="text-center"><small class="italic">
			Arrival date:
			<span *ngIf="modalGuest.accomodationOption === 'OWN'" >Saturday 31 March 2018</span>
			<span *ngIf="modalGuest.accomodationOption !== 'OWN' && modalGuest.arrivalDate !== 'notYet'" >{{modalGuest.arrivalDate}}</span>
		</small></p>
		 <div class="dropdown" *ngIf="modalGuest.accomodationOption !== 'OWN'">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    arrival option
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-middle" aria-labelledby="rsvpDropDown">
		    <li (click)="arrivalDateChosen(option)"  *ngFor='let option of arrivalOptions; trackBy: index;'><a >{{option}}</a></li>
		  </ul>
		</div>
			<p class="text-center"><small class="italic">
			Departure date:
			<span *ngIf="modalGuest.accomodationOption === 'OWN'" >Saturday 31 March 2018</span>
			<span *ngIf="modalGuest.accomodationOption !== 'OWN' && modalGuest.departureDate !== 'notYet'" >{{modalGuest.departureDate}}</span>
		</small></p>
		 <div class="dropdown" *ngIf="modalGuest.accomodationOption !== 'OWN'">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    departure Option
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-middle" aria-labelledby="rsvpDropDown">
		    <li (click)="departureDateChosen(option)" *ngFor='let option of departureOptions; trackBy: index;'><a >{{option}}</a></li>
		  </ul>
		</div>
		</form>
		</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Dietry Modal  -->
<div id="dietryModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dietry Preferance</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text">Choose your Dietry preferance option below</p>
        <form>
        <div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Dietry preferance
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-middle" aria-labelledby="rsvpDropDown">
		    <li  (click)="dietryOptionChosen(option)" *ngFor='let option of dietryPrefOptions; trackBy: index;'><a >{{option}}</a></li>
		  </ul>
		</div>
		<p class="text-center"><small class="italic">
			Dietry option for {{modalGuest.name}} {{modalGuest.surname}}
		</small></p>
		<p class="text-center"><small> Current option:
			<span *ngIf="modalGuest.dietryPref === 'VEG'">Vegiterian</span>
       		<span *ngIf="modalGuest.dietryPref === 'NONE'">None</span>
       		<span *ngIf="modalGuest.dietryPref === 'notYet'">Not yet indicated</span>
		</small></p>
		<h2 class="text-center">
	       	<span class="glyphicon glyphicon-leaf" *ngIf="modalGuest.dietryPref === 'VEG'"> </span>
	       	<span class="glyphicon glyphicon-cutlery" *ngIf="modalGuest.dietryPref === 'NONE'"> </span>
	       	<span class="glyphicon glyphicon-question-sign" *ngIf="modalGuest.dietryPref === 'notYet'"></span>
       	</h2>
		</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Kids Modal  -->
<div id="kidsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Child</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text">Please fill out the form below</p>
        <form>
		<div>
			<label>Name</label>
            <input required="true" type="text" class="form-control" [(ngModel)]="child.name" placeholder="Name" name="childName">
            <label>Surname</label>
            <input type="text" class="form-control" [(ngModel)]="child.surname" placeholder="Surname" name="childSurname">
            <label>Age</label>
            <input type="text" class="form-control" [(ngModel)]="child.age" placeholder="Age" name="childAge">
            <label>Gender : </label>
             <p class="intro-text italic" *ngIf="child.gender === 'MALE' || child.gender === 'FEMALE'">{{child.gender}}</p>
             <div class="dropdown">
		  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    	Gender
		    	<span class="caret"></span>
		 		</button>
		  		<ul class="dropdown-menu" aria-labelledby="rsvpDropDown">
		    		<li  (click)="genderChosen(option)" *ngFor='let option of genderOptions; trackBy: index;'><a >{{option}}</a></li>
		  		</ul>
			</div>
			<br>
            <button type="submit" class="btn btn-default" (click)="saveChild()"><span class="glyphicon glyphicon-save"></span> Save</button>

        </div>

		</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Kids Modal  -->
<div id="removeChildModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Remove Child</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text text-center">Are you sure you want to remove tthis child?</p>
      	<p class="text-center"><small class="italic">
			{{childForModal.name}} {{childForModal.surname}} <br>
			age: {{childForModal.age}} <br>
			gender: {{childForModal.gender}}
		</small></p>
		<button type="button" class="btn btn-default text-center" (click)="removeChild(childForModal)">Yes Remove Child</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Kids Modal  -->
<div id="editChildModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Child</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text">Edit Ddetails below and then click 'save'</p>
        <form>
		<div>
			<label>Name</label>
            <input required="true" type="text" class="form-control" [(ngModel)]="childForModal.name" placeholder="Name" name="childName">
            <label>Surname</label>
            <input type="text" class="form-control" [(ngModel)]="childForModal.surname" placeholder="Surname" name="childSurname">
            <label>Age</label>
            <input type="text" class="form-control" [(ngModel)]="childForModal.age" placeholder="Age" name="childAge">
            <label>Gender : </label>
             <p class="intro-text italic" *ngIf="childForModal.gender === 'MALE' || childForModal.gender === 'FEMALE'">{{childForModal.gender}}</p>
             <div class="dropdown">
		  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    	Gender
		    	<span class="caret"></span>
		 		</button>
		  		<ul class="dropdown-menu" aria-labelledby="rsvpDropDown">
		    		<li  (click)="genderChosenForEdit(option)" *ngFor='let option of genderOptions; trackBy: index;'><a >{{option}}</a></li>
		  		</ul>
			</div>
			<br>
            <button type="submit" class="btn btn-default" (click)="editChild()"><span class="glyphicon glyphicon-save"></span> Save</button>

        </div>

		</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- request song Modal  -->
<div id="songRequestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request a song</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        <p class="intro-text">Fill out details below and then click 'add song'</p>
        <form>
		<div>
			<label>Song Name</label>
            <input required="true" type="text" class="form-control" [(ngModel)]="song.name" placeholder="Song Name" name="songName">
            <label>Artist name</label>
            <input type="text" class="form-control" [(ngModel)]="song.artist" placeholder="Artist name" name="artistName">
            <br>		
            <button type="submit" class="btn btn-default" (click)="addSong()"><span class="glyphicon glyphicon-save"></span> Add Song</button>

        </div>

		</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- view songs Modal  -->
<div id="songViewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View all songs</h4>
      </div>
      <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">{{alertMessage}}</div>
      <div class="alert alert-success" role="alert" *ngIf="done">{{alertMessage}}</div>
        sons.....
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearAlertMessage()">Close</button>
      </div>
    </div>

  </div>
</div>
